#page-landing {
  align-items: center;
  background: linear-gradient(329.54deg, #29b6d1 0%, #00c7c7 100%);
  display: flex;
  height: 100vh;
  justify-content: center;
  width: 100vw;
}

#page-landing .content-wrapper {
  align-items: flex-start;
  background: url('../../images/landing.svg') no-repeat 80% center;
  display: flex;
  flex-direction: column;
  height: 100%;
  justify-content: space-between;
  max-height: 680px;
  max-width: 1100px;
  position: relative;
  width: 100%;
}

#page-landing .content-wrapper main {
  max-width: 350px;
}

#page-landing .content-wrapper main h1 {
  font-size: 76px;
  font-weight: 900;
  line-height: 70px;
}

#page-landing .content-wrapper main p {
  font-size: 24px;
  line-height: 34px;
  margin-top: 40px;
}

#page-landing .content-wrapper .location {
  display: flex;
  flex-direction: column;
  font-size: 24px;
  line-height: 34px;
  position: absolute;
  right: 0;
  text-align: right;
  top: 0;
}

#page-landing .content-wrapper .location strong {
  font-weight: 800;
}

#page-landing .content-wrapper .enter-app {
  align-items: center;
  background-color: #ffd666;
  border-radius: 30px;
  bottom: 0;
  display: flex;
  height: 80px;
  justify-content: center;
  position: absolute;
  right: 0;
  transition: background-color 0.2s;
  width: 80px;
}

#page-landing .content-wrapper .enter-app:hover {
  background-color: #96feff;
}
