#page-orphanage {
  display: flex;
  min-height: 100vh;
}

#page-orphanage aside {
  align-items: center;
  background: linear-gradient(329.54deg, #15b6d6 0%, #15d6d6 100%);
  display: flex;
  flex-direction: column;
  height: 100%;
  justify-content: space-between;
  padding: 32px 24px;
  position: fixed;
}

#page-orphanage aside img {
  width: 48px;
}

#page-orphanage aside footer a,
#page-orphanage aside footer button {
  align-items: center;
  background-color: #12afcb;
  border: 0;
  border-radius: 16px;
  cursor: pointer;
  display: flex;
  height: 48px;
  justify-content: center;
  transition: background-color 0.2s;
  width: 48px;
}

#page-orphanage aside footer a:hover,
#page-orphanage aside footer button:hover {
  background-color: #17d6eb;
}

#page-orphanage main {
  flex: 1;
}

#page-orphanage .orphanage-details {
  background-color: #fff;
  border: 1px solid #d3e2e5;
  border-radius: 20px;
  margin: 64px auto;
  overflow: hidden;
  width: 700px;
}

#page-orphanage .orphanage-details>img {
  height: 300px;
  object-fit: cover;
  width: 100%;
}

#page-orphanage .orphanage-details .images {
  column-gap: 16px;
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  margin: 16px 40px 0;
}

#page-orphanage .orphanage-details .images button {
  background-color: none;
  border: 0;
  border-radius: 20px;
  cursor: pointer;
  height: 88px;
  opacity: 0.6;
  outline: none;
  overflow: hidden;
}

#page-orphanage .orphanage-details .images button.active {
  opacity: 1;
}

#page-orphanage .orphanage-details .images button img {
  height: 88px;
  object-fit: cover;
  width: 100%;
}

#page-orphanage .orphanage-details .orphanage-details-content {
  padding: 80px;
}

#page-orphanage .orphanage-details .orphanage-details-content h1 {
  color: #4d6f80;
  font-size: 54px;
  line-height: 54px;
  margin-bottom: 8px;
}

#page-orphanage .orphanage-details .orphanage-details-content p {
  color: #5c8599;
  line-height: 28px;
  margin-top: 24px;
}

#page-orphanage .orphanage-details .orphanage-details-content .map-container {
  background-color: #e6f7fb;
  border: 1px solid #b3dae2;
  border-radius: 20px;
  margin-top: 64px;
}

#page-orphanage .orphanage-details .orphanage-details-content .map-container footer {
  padding: 20px 0;
  text-align: center;
}

#page-orphanage .orphanage-details .orphanage-details-content .map-container footer a {
  color: #0089a5;
  line-height: 24px;
  text-decoration: none;
}

#page-orphanage .orphanage-details .orphanage-details-content .map-container .leaflet-container {
  border-bottom: 1px solid #dde3f0;
  border-radius: 20px;
}

#page-orphanage .orphanage-details .orphanage-details-content hr {
  background-color: #d3e2e6;
  border: 0;
  height: 1px;
  margin: 64px 0;
  width: 100%;
}

#page-orphanage .orphanage-details .orphanage-details-content h2 {
  color: #4d6f80;
  font-size: 36px;
  line-height: 46px;
}

#page-orphanage .orphanage-details .orphanage-details-content .open-details {
  column-gap: 20px;
  display: grid;
  grid-template-columns: 1fr 1fr;
  margin-top: 24px;
}

#page-orphanage .orphanage-details .orphanage-details-content .open-details div {
  border-radius: 20px;
  line-height: 28px;
  padding: 32px 24px;
}

#page-orphanage .orphanage-details .orphanage-details-content .open-details div svg {
  display: block;
  margin-bottom: 20px;
}

#page-orphanage .orphanage-details .orphanage-details-content .open-details div.hour {
  background: linear-gradient(149.97deg, #e6f7fb 8.13%, #fff 92.67%);
  border: 1px solid #b3dae2;
  color: #5c8599;
}

#page-orphanage .orphanage-details .orphanage-details-content .open-details div.open-on-weekends {
  background: linear-gradient(154.16deg, #edfff6 7.85%, #fff 91.03%);
  border: 1px solid #a1e9c5;
  color: #37c77f;
}

#page-orphanage .orphanage-details .orphanage-details-content .open-details div.open-on-weekends.dont-open {
  background: linear-gradient(154.16deg, #fdf0f5 7.85%, #fff 91.03%);
  border: 1px solid #ffbcd4;
  color: #ff669d;
}

#page-orphanage .orphanage-details .orphanage-details-content button.contact-button {
  align-items: center;
  background-color: #3cdc8c;
  border: 0;
  border-radius: 20px;
  color: #fff;
  cursor: pointer;
  display: flex;
  font-weight: 800;
  height: 64px;
  justify-content: center;
  margin-top: 64px;
  transition: background-color 0.2s;
  width: 100%;
}

#page-orphanage .orphanage-details .orphanage-details-content button.contact-button svg {
  margin-right: 16px;
}

#page-orphanage .orphanage-details .orphanage-details-content button.contact-button:hover {
  background-color: #36cf82;
}
