#page-map {
	display: flex;
	height: 100vh;
	position: relative;
	width: 100vw;
}

#page-map aside {
	background: linear-gradient(329.54deg, #29b6d1 0%, #00c7c7 100%);
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	padding: 80px;
	width: 440px;
}

#page-map aside h2 {
	font-size: 40px;
	font-weight: 800;
	line-height: 42px;
	margin-top: 64px;
}

#page-map aside p {
	line-height: 20px;
	margin-top: 24px;
}

#page-map aside footer {
	display: flex;
	flex-direction: column;
	line-height: 24px;
}

#page-map aside footer strong {
	font-weight: 800;
}

#page-map .leaflet-container {
	z-index: 5;
}

#page-map .create-orphanage {
	align-items: center;
	background-color: #15c3d6;
	border-radius: 20px;
	bottom: 40px;
	display: flex;
	height: 64px;
	justify-content: center;
	position: absolute;
	right: 40px;
	transition: background-color 0.2s;
	width: 64px;
	z-index: 10;
}

#page-map .create-orphanage:hover {
	background-color: #17d6eb;
}